.btn {
	font-size: 1rem !important;
	width: auto !important;
	min-width: 85px !important;
	max-width: 160px !important;
	margin: 6% 10px !important;
	border: solid 3px transparent !important;
}
.btn:hover {
	background-position: 100% 0 !important;
	background-color: #212529 !important;
	border: solid 3px #ffc107 !important;
	color: #ffc107 !important;
}
.btn-primary {
	font-size: 1.2rem !important;
}

.btn:focus,
.active {
	outline: none !important;
	background-color: #212529 !important;
	border: solid 3px #ffc107 !important;
	color: #ffc107 !important;
}

.active {
	@extend .btn;
	outline: none !important;
	background-color: transparent !important;
	border: solid 3px #ffc107 !important;
	color: #ffc107 !important;
}

.btn-warning:hover {
	background-color: #ffc107;
}
