.product-detail {
	margin: 5% auto;
	border: 5px solid #212529;
	border-radius: 0px;
	text-align: center;

	@media (min-width: 769px) {
		display: flex;
		gap: 5%;
	}
}

.details-image {
	max-width: 100%;

	@media (min-width: 769px) {
		width: 40%;
		margin: 2em;
	}
}
