.load {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: auto;
}

.load div {
	position: absolute;
	top: 80px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #ffc107 !important;
	border: solid 2px #000 !important;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.load div:nth-child(1) {
	left: 10px;
	animation: lds-ellipsis1 0.5s infinite;
}

.load div:nth-child(2) {
	left: 10px;
	animation: lds-ellipsis2 0.5s infinite;
}

.load div:nth-child(3) {
	left: 34px;
	animation: lds-ellipsis2 0.5s infinite;
}

.load div:nth-child(4) {
	left: 58px;
	animation: lds-ellipsis3 0.5s infinite;
	z-index: -1;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(25px, 0);
	}
}
